/*Chat CSS below*/
.conversation-container {
    position: relative;
    max-width: 100%;
    width: 800px;
    max-height: 100%;
    height: 100%;
    bottom: 0px;    
    z-index: 4;    
}
.input {
    position: fixed;
    border: none;
    z-index: 10;
    background-color: rgba(241, 241, 241, 0.75);
    padding: 10px;
    width: inherit;
    max-width: 90%;
    border-radius: 4px;
    opacity: 0;
    bottom: 0px;
}
.input.dropIn {
    transform: translate(-50%, -40px);
    opacity: 1;
}
.conversation {
    position: fixed;
    width: inherit;
    max-width: 90%;
    z-index: 5;
    bottom: 0px;
    color: white;  
    max-height: inherit;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
}
.conversation::-webkit-scrollbar { 
    display: none; 
}
.conversation-container, .conversation, .input {
    left: 50%;
    transform: translateX(-50%);
}
.conversation, .input, .msg {
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.28,.51,.78,.86);
}
.msg {
    display: block;
    padding: 10px;
    color: #1f1f1f;
    border-radius: 4px;
    opacity: 0;
    height: auto;
    word-wrap: break-word;
    margin: 3px 0px;    
    box-sizing: border-box;
}


.msg.show {
    opacity: 1;
    padding: 10px;
    transform: scaleY(1);    
}

.msg.info {
    background-color: #a21f28;
}

.msg.ack{
  background-color: #799F4D;
  float: left;
}

.msg.subscribe {
    background-color: #EABF4C;
    width: 75%;
}

.msg.publish {
    background-color: #378C8A;
    float: right;
}

.msg.publish, .msg.subscribe .msg.ack {
    max-width: 75%;
}